torch==2.0.1+cu117
torchvision==0.15.2+cu117
--find-links https://download.pytorch.org/whl/torch_stable.html
numpy==1.24.4
Pillow==10.0.0
pycocotools~=2.0.6
matplotlib~=3.7.1
opencv-python==4.8.0.76
setuptools==68.0.0
tqdm==4.66.0